.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: dimgrey;
  padding: 10px;
  margin-top: -10px;
}
.header ul {
  margin: 0;
  padding: 0;
}
.header ul li {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.header-div {
  width: 70%;
  display: flex;
  justify-content: end;
}
